<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Welcome to Ogyam! the motivator</title>
  </head>
  <body>
    <p>Hello, <%= @name %></p>
    <p>
      Welcome to Ogyam, your account has bee succesfully created.
      Your username is <%= @email %>, hope you enjoy using OGYAM!
    </p>
  </body>
</html>
