// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error, .alert-error {
  padding:0.8em;
  margin-bottom:1em;
  border:2px solid #ddd;
}
