// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1,
h6 {
  margin-top: 0;
  font-weight: 600;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  margin-top: -10px;
  margin-bottom: 2.5em;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
p {
  margin-bottom: 1.5em;
}
ul.list li {
  margin-bottom: .65em;
}
.title {
  padding-bottom: 5px;
  margin-bottom: 1em;
  border-bottom: 1px dotted #CCC;
}

/*------------------------------------------------------------------
 
Bootstrap Styles

------------------------------------------------------------------- */
.container {
  position: relative;
}
select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Accordion */
.accordion-group {
  margin-bottom: 3px;
  border: none;
}
.accordion-group .accordion-heading {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #444444;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion-group .accordion-heading a {
  color: #444444;
  font-size: 13px;
  font-weight: 600;
}
.accordion-group .accordion-heading a:hover {
  text-decoration: none;
}
.accordion-group.open .accordion-heading {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8ab15a;
  background-image: -moz-linear-gradient(top, #94ba65, #7ba349);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#7ba349));
  background-image: -webkit-linear-gradient(top, #94ba65, #7ba349);
  background-image: -o-linear-gradient(top, #94ba65, #7ba349);
  background-image: linear-gradient(to bottom, #94ba65, #7ba349);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff7ba349', GradientType=0);
  border-color: #7ba349 #7ba349 #536e31;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #608039;
}
.accordion-group.open .accordion-heading a {
  color: #ffffff;
}
/* Breadcrumb */
.breadcrumb {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border: 1px solid #dddddd;
}
/* Buttons */
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #92b765;
  background-image: -moz-linear-gradient(top, #a0c277, #7da64b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0c277), to(#7da64b));
  background-image: -webkit-linear-gradient(top, #a0c277, #7da64b);
  background-image: -o-linear-gradient(top, #a0c277, #7da64b);
  background-image: linear-gradient(to bottom, #a0c277, #7da64b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa0c277', endColorstr='#ff7da64b', GradientType=0);
  border-color: #7da64b #7da64b #567233;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #7da64b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #7da64b;
  *background-color: #709543;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #63833b \9;
}
.btn-secondary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #268ead;
  background-image: -moz-linear-gradient(top, #2ca1c5, #1f718a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ca1c5), to(#1f718a));
  background-image: -webkit-linear-gradient(top, #2ca1c5, #1f718a);
  background-image: -o-linear-gradient(top, #2ca1c5, #1f718a);
  background-image: linear-gradient(to bottom, #2ca1c5, #1f718a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ca1c5', endColorstr='#ff1f718a', GradientType=0);
  border-color: #1f718a #1f718a #113e4c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1f718a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  color: #ffffff;
  background-color: #1f718a;
  *background-color: #1a6076;
}
.btn-secondary:active,
.btn-secondary.active {
  background-color: #154f61 \9;
}
.btn-tertiary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #979797;
  background-image: -moz-linear-gradient(top, #a6a6a6, #828282);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6a6a6), to(#828282));
  background-image: -webkit-linear-gradient(top, #a6a6a6, #828282);
  background-image: -o-linear-gradient(top, #a6a6a6, #828282);
  background-image: linear-gradient(to bottom, #a6a6a6, #828282);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa6a6a6', endColorstr='#ff828282', GradientType=0);
  border-color: #828282 #828282 #5c5c5c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #828282;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary.active,
.btn-tertiary.disabled,
.btn-tertiary[disabled] {
  color: #ffffff;
  background-color: #828282;
  *background-color: #757575;
}
.btn-tertiary:active,
.btn-tertiary.active {
  background-color: #696969 \9;
}



/*------------------------------------------------------------------
 
Signin

------------------------------------------------------------------- */
body.login {
  color: #838383;
  font: 13px/1.7em 'Open Sans';
  background: url(/assets/signin/login-bg.png);
}
.account-container {
  width: 380px;
  display: block;
  margin: 85px auto 0 auto;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.account-container h1 {
  margin-bottom: .4em;
  color: #263849;
  font-size: 30px;
}
.content {
  padding: 16px 28px 23px;
}
.login-fields .field {
  margin-bottom: 1.25em;
}
.login-fields label {
  display: none;
}
.login-fields input {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #8e8d8d;
  padding: 11px 15px 10px 50px;
  background-color: #fdfdfd;
  width: 255px;
  display: block;
  margin: 0;
  box-shadow: inset 2px 2px 4px #f1f1f1;
}
.login-fields .username-field {
  background: url(/assets/signin/user.png) no-repeat;
}
.login-fields .password-field {
  background: url(/assets/signin/password.png) no-repeat;
}
.login-actions {
  float: left;
  width: 100%;
  margin-top: -1em;
  margin-bottom: 1.25em;
}
.login-social {
  float: left;
  padding: 10px 0 15px;
  border: 1px dotted #CCC;
  border-right: none;
  border-left: none;
}
.login-social p {
  margin-bottom: 1em;
}
.login-extra {
  display: block;
  width: 300px;
  margin: 1.5em auto;
  text-align: center;
  line-height: 19px;
  text-shadow: 1px 1px 0px #fff;
}
span.login-checkbox {
  float: left;
  margin-top: 31px;
}
span.login-checkbox  > input[type='checkbox'] {
  opacity: 0;
  float: left;
  width: 15px;
}
span.login-checkbox  > input[type='checkbox'] + label {
  clear: none;
  height: 15px;
  display: block;
  padding: 0 0 0 22px;
  margin: 0;
  font-size: 12px;
  line-height: 1.2em;
  background: url(/assets/signin/check.png) no-repeat 0 0;
  cursor: pointer;
}
span.login-checkbox  > input[type='checkbox']:checked + label {
  background-position: 0 -15px;
}
/** Buttons **/
.twitter,
.fb {
  position: relative;
  height: 32px;
  width: 157px;
  display: inline-block;
  background: url(/assets/signin/twitter_btn.png) no-repeat;
}
.twitter:active,
.fb:active {
  top: 1px;
}
.twitter:hover,
.fb:hover {
  background-position: 0 -32px;
}
.twitter a,
.fb a {
  padding: 5px 0 0 35px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  height: 32px;
  display: block;
}
.twitter a:hover,
.fb a:hover {
  color: #FFF;
  text-decoration: none;
}
.fb {
  width: 162px;
  background: url(/assets/signin/fb_btn.png) no-repeat;
}
.fb a {
  padding: 5px 0 0 31px;
}
.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  margin-top: 18px;
}
.register .login-social {
  margin-bottom: 1em;
}
.register .login-actions {
  margin-bottom: 0;
}
.register .login-fields input {
  width: 299px;
  padding-left: 6px;
}
.register h1 {
  color: #444;
}
.register span.login-checkbox {
  position: relative;
  top: -6px;
  width: 200px;
}
.register span.login-checkbox  > input[type="checkbox"] + label {
  position: relative;
  line-height: 1.3em;
}
@media (max-width: 480px) {
  .account-container {
    width: 280px;
    margin-top: 35px;
  }
  .login-fields input {
    width: 160px;
  }
  .login-social {
    width: 100%;
  }
  .twitter {
    display: block;
    margin-bottom: 1em;
  }
  .register .login-fields input {
    width: 204px;
    padding-left: 6px;
  }
}
/*------------------------------------------------------------------
 
Gallery

------------------------------------------------------------------- */
.gallery-container {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
}
.gallery-container li {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  position: relative;
  margin-bottom: 2em;
  border: 1px solid #d3d3d3;
  position: relative;
  padding: 7px;
  box-sizing: border-box;
}
.gallery-container images {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.stat {
  display: inline-block;
}
.stacked,
.gallery-container li {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.stacked:after,
.gallery-container li :after,
.stacked:before,
.gallery-container li :before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  bottom: -3px;
  left: 3px;
  right: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #d3d3d3;
  border-top: 0;
}
.stacked:before,
.gallery-container li :before {
  bottom: -5px;
  left: 6px;
  right: 6px;
}
